# hm155-pw-test-report

**Source Type:** PDF Document (PDFs)  
**Category:** technical  
**Generated:** 2025-06-26 02:38:11  
**Original File:** hm155-pw-test-report.pdf

---

## Content

Architectural Testing




                              TEST REPORT

                      Report No.: B2427.02-301-44

                              Rendered to:

                      MI WINDOWS AND DOORS, INC.
                         Prescott Valley, Arizona

          PRODUCT TYPE: Polyvinyl Chloride (PVC) Fixed Window
                      SERIES/MODEL: EC 155

SPECIFICATIONS: AAMA/WDMA/CSA 101/I.S.2/A440-05, Standard/Specification
                  for Windows, Doors, and Unit Skylights.

            CAWM 301, Forced Entry Resistance Test for Windows.




                                                        Test Dates:   08/09/11
                                                          Through:    09/20/11
                                                      Report Date:    10/25/11
                                        Test Record Retention Date:   09/20/15
                                         Summary of Results


                                                              Summary of Results
                   Title                        Test Specimen #1           Test Specimen #2
                                               FW –C45 2438 x 1827        FW – C30 1827 x 1523
       Primary Product Designator
                                                     (96 x 72)                   (72 x 60)
             Design Pressure                   ±2160 Pa (±45.11 psf)      ±1440 Pa (±30.08 psf)
                                                   <0.05 L/s/m 2
              Air Infiltration                                                     N/A
                                                  (<0.01 cfm/ft2)
Water Penetration Resistance Test Pressure       580 Pa (12.11 psf)                N/A


                                                              Summary of Results
                                 Title                         Test Specimen #3
                                                              FW – C55 1523 x 1521
                      Primary Product Designator
                                                                    (60 x 60)
                          Design Pressure                     ±2640 Pa (±55.14 psf)
                           Air Infiltration                           N/A
              Water Penetration Resistance Test Pressure              N/A



                                                       Test Completion Date:     09/20/2011


      Reference must be made to Report No. B2427.02-301-44 dated 10/25/11 for complete test
      specimen description and detailed test results.




                                     www.archtest.com
                                                                 Test Report No.: B2427.02-301-47
                                                                            Report Date: 10/25/11
                                                         Test Record Retention End Date: 09/20/15
                                                                                        Page 1 of 8



1.0 Report Issued To:      MI Windows and Doors, Inc.
                           7555 East State Route 69
                           Prescott Valley, Arizona 86314

2.0 Test Laboratory:       Architectural Testing, Inc.
                           2524 East Jensen Avenue
                           Fresno, California 93706
                           (559) 233 - 8705

3.0 Project Summary:

   3.1 Product Type: Polyvinyl Chloride (PVC) Fixed Window
   3.2 Series/Model: EC 155
   3.3 Compliance Statement: Results obtained are tested values and were secured by
       using the designated test methods. The specimens tested successfully met the
       performance requirements for the following ratings: Test Specimen #1: FW – C45
       2438 x 1827 (96 x 72); Test Specimen #2: FW – C30 1827 x 1523 (72 x 60);
       Test Specimen #3: FW – C55 1523 x 1521 (60 x 60).
       This product was originally tested as the Mikron Industries, Inc. Series/Model
       10200 PW – Finless 96” x 72”, Polyvinyl Chloride (PVC) Fixed Window and is a
       reissue of the original Report No. B2427.01-301-47. This report is reissued in the name
       of MI Windows and Doors, Inc. through written authorization by Mikron Industries,
       Inc.
   3.4 Test Dates: 08/09/2011 - 09/20/2011
   3.5 Test Location: MI Windows and Doors, Inc. test facility in Prescott Valley,
       Arizona. Calibration of test equipment was performed by Architectural Testing in
       accordance with AAMA 205-01 "In-Plant Testing Guidelines for Manufacturers and
       Independent Laboratories".
   3.6 Test Sample Source: The test specimens were provided by the client.
       Representative samples of the test specimens will be retained by Architectural
       Testing for a minimum of four years from the test completion date.
   3.7 Drawing Reference: The test specimen drawings have been reviewed by
       Architectural Testing and are representative of the test specimens reported herein.
       Test specimen construction was verified by Architectural Testing per the drawings
       located in Appendix B. Any deviations are documented herein or on the drawings.




                               www.archtest.com
                                                            Test Report No.: B2427.02-301-47
                                                                       Report Date: 10/25/11
                                                    Test Record Retention End Date: 09/20/15
                                                                                   Page 2 of 8



3.0 Project Summary: (Continued)


    3.8 List of Official Observers:
             Name                      Company

             Mike Maystadt             MI Windows and Doors, Inc.
             Wayne Battram             MI Windows and Doors, Inc.
             David Douglass            Architectural Testing, Inc.
             Jeffrey T. Osugi          Architectural Testing, Inc.

4.0 Test Specifications:

    AAMA/WDMA/CSA 101/I.S.2/A440-05, Standard/Specification for Windows, Doors,
    and Unit Skylights.

    CAWM 301, Forced Entry Resistance Test for Windows.

5.0 Test Specimen Description:

    5.1 Product Sizes:

    Test Specimen #1:
    Overall Area:              Width                            Height
  4.45 m² (47.94 ft2) millimeters    inches           millimeters       inches
     Overall size        2438          96                1827          71-15/16

    Test Specimen #2:
    Overall Area:              Width                            Height
  2.78 m² (29.95 ft2) millimeters     inches          millimeters       inches
     Overall size        1827        71-15/16            1523          59-15/16

    Test Specimen #3:
    Overall Area:              Width                             Height
  2.32 m² (24.93 ft )
                   2  millimeters     inches           millimeters      inches
     Overall size        1523        59-15/16             1521          59-7/8

        The following descriptions apply to all specimens except where noted.




                                www.archtest.com
                                                                   Test Report No.: B2427.02-301-47
                                                                              Report Date: 10/25/11
                                                           Test Record Retention End Date: 09/20/15
                                                                                          Page 3 of 8



5.0 Test Specimen Description: (Continued)

   5.2 Frame Construction:

  Frame Member               Material                      Description
 Head, sill and jambs         PVC          Two hollows were filled with Aircell foam filling.
    Sill track filler          PVC

                         Joinery Type                             Detail
     All corners            Mitered        Fully welded.

   5.3 Sash/Vent/Panel Construction: No Sash/Vent/Panel was utilized.

   5.4 Weatherstripping: No weatherstripping was utilized.

   5.5 Glazing:

    Test Specimen #1:
   Glass                        Interior     Exterior
            Spacer Type                                              Glazing Method
   Type                           Lite         Lite
           Polycarbonate                                   Exterior glazed onto a bed of Insta
                                 3/16"         3/16"
  3/4" IG      – butyl                                     glaze and secured with a PVC snap
                               Tempered      Tempered
             composite                                     in glazing bead.

   Test Specimen #2:
  Glass                        Interior      Exterior
          Spacer Type                                                Glazing Method
  Type                           Lite          Lite
                                                           Exterior glazed onto a bed of Insta
               U shaped          1/8"         1/8"
  3/4" IG                                                  glaze and secured with a PVC snap
              coated steel     Annealed     Annealed
                                                           in glazing bead.

   Test Specimen #3:
  Glass                         Interior     Exterior
           Spacer Type                                               Glazing Method
  Type                            Lite         Lite
                                                           Exterior glazed onto a 3/8" wide x
                                                           1/16" tall glazing tape and
             Polycarbonate
                                 1/8"          1/8"        secured with a PVC snap in
  3/4" IG        – butyl
                               Tempered      Tempered      glazing bead. The corners of the
               composite
                                                           glazing tape were sealed with
                                                           silicone.



                                 www.archtest.com
                                                                Test Report No.: B2427.02-301-47
                                                                           Report Date: 10/25/11
                                                        Test Record Retention End Date: 09/20/15
                                                                                       Page 4 of 8



5.0 Test Specimen Description: (Continued)

    5.5 Glazing: (Continued)

                                                  Daylight Opening
         Location            Quantity                                              Glass Bite
                                            millimeters         inches
                                                             91-3/4 x 67-
  Specimen #1 fixed light        1          2330 x 1719                            1/2 – 3/8"
                                                                11/16
                                                             67-3/4 x 55-
  Specimen #2 fixed light        1          1721 x 1415                               1/2"
                                                                11/16
                                                            55-11/16 x 55-
  Specimen #3 fixed light        1          1415 x 1415                               1/2"
                                                                11/16


    5.6 Drainage:

 Drainage Method              Size           Quantity                  Location
                       1-1/4" x 1/4" oval
   Weephole with                                         3" from each          end    through
                         (13/16 x 1/8"           2
      cover                                              exterior sill face.
                           effective)
                                                         3" from each end through glazing
      Weephole          5/8" x 1/8" oval         2
                                                         track.
                                                         1/8" from each end through first
      Weephole         3/8" x 3/16" oval         2       horizontal layer of internal
                                                         webbing.
                                                         1-5/8" from each end through
      Weephole              1" x 3/16"           2
                                                         center sill leg.

    5.7 Hardware: No hardware was utilized.

    5.8 Reinforcement: No reinforcement was utilized.

    5.9 Screen Construction: No screen was utilized.

6.0 Installation:

    The specimen was installed into a Spruce-Pine-Fir wood buck. The rough opening
    allowed for a 1/8 – 5/16" shim space. The exterior perimeter of the window was
    sealed with silicone.

   Location                Anchor Description             Anchor Location
  Head, sill and    #8 x 1-1/2" Phillips flat head 3" from each end and 12 - 14"
     jambs          screws.                        on center through the frame.

                                www.archtest.com
                                                                 Test Report No.: B2427.02-301-47
                                                                            Report Date: 10/25/11
                                                         Test Record Retention End Date: 09/20/15
                                                                                        Page 5 of 8



7.0 Test Results: The temperature during testing was 28-29°C (82-85°F). The results are
                   tabulated as follows:

   Test Specimen #1:
            Title of Test                  Results                  Allowed               Note
            Air Leakage,
   Infiltration per ASTM E 283          <0.05 L/s/m2               1.5 L/s/m2
         at 75 Pa (1.57 psf)            (<0.0 cfm/ft2)         (0.3 cfm/ft2) max.           1
       Water Penetration,
        per ASTM E 547                      N/A                        N/A                  3

    Uniform Load Deflection,                N/A                        N/A                  3
         per ASTM E 330

    Uniform Load Structural,                N/A                        N/A                  3
         per ASTM E 330

   Forced Entry Resistance,
       per ASTM F 588,
            Type: D                         Pass                     No entry
   Forced Entry Resistance,
        per CAWM 301,
            Type: V                          Pass                 No entry
  Thermoplastic Corner Weld                  Pass               Meets as stated
                                   Optional Performance
       Water Penetration,
          per ASTM E 547
       at 580 Pa (12.11 psf)                Pass                   No leakage               2
    Uniform Load Deflection,
          per ASTM E 330
    taken at left jamb of frame
    between mounting screws
      +2160 Pa (+45.11 psf)            0.0 mm (0.00")
       -2160 Pa (-45.11 psf)           0.3 mm (0.01")              Report Only            4,5,6
    Uniform Load Structural,
          per ASTM E 330
    taken at left jamb of frame
    between mounting screws
      +3240 Pa (+67.67 psf)            0.3 mm (0.01")
       -3240 Pa (-67.67 psf)           0.0 mm (0.00")         1.1 mm (0.04") max.          5,6




                                  www.archtest.com
                                                              Test Report No.: B2427.02-301-47
                                                                         Report Date: 10/25/11
                                                      Test Record Retention End Date: 09/20/15
                                                                                     Page 6 of 8



7.0 Test Results: (Continued)

   Test Specimen #2:
          Title of Test                 Results                  Allowed               Note
   Uniform Load Deflection,
        per ASTM E 330
   taken at left jamb of frame
   between mounting screws
     +1440 Pa (+30.08 psf)           0.0 mm (0.00")
      -1440 Pa (-30.08 psf)          0.0 mm (0.00")             Report Only            4,5,6
   Uniform Load Structural,
        per ASTM E 330
   taken at left jamb of frame
   between mounting screws
     +2160 Pa (+45.11 psf)           0.0 mm (0.00")
      -2160 Pa (-45.11 psf)          0.0 mm (0.00")        1.0 mm (0.04") max.          5,6

   Test Specimen #3
          Title of Test                 Results                   Allowed              Note
   Uniform Load Deflection,
        per ASTM E 330
   taken at left jamb of frame
   between mounting screws
     +1920 Pa (+40.10 psf)           0.3 mm (0.01")
      -1920 Pa (-40.10 psf)          0.0 mm (0.00")             Report Only
   Uniform Load Structural,
        per ASTM E 330
   taken at left jamb of frame
   between mounting screws
     +2880 Pa (+60.15 psf)           0.3 mm (0.01")
      -2880 Pa (-60.15 psf)          0.0 mm (0.00")        1.0 mm (0.04") max.




                                 www.archtest.com
                                                                Test Report No.: B2427.02-301-47
                                                                           Report Date: 10/25/11
                                                        Test Record Retention End Date: 09/20/15
                                                                                       Page 7 of 8



7.0 Test Results: (Continued)

   Test Specimen #3 (Continued)

           Title of Test                   Results                  Allowed              Note
                                   Optional Performance
    Uniform Load Deflection,
         per ASTM E 330
    taken at left jamb of frame
    between mounting screws
      +2640 Pa (+55.14 psf)            0.3 mm (0.01")
       -2640 Pa (-55.14 psf)           0.0 mm (0.00")             Report Only            4,5,6
    Uniform Load Structural,
         per ASTM E 330
    taken at left jamb of frame
    between mounting screws
      +3960 Pa (+82.71 psf)            0.0 mm (0.00")
       -3960 Pa (-82.71 psf)           0.0 mm (0.00")        1.1 mm (0.04") max.          5,6

   Note 1: The tested specimen meets (or exceeds) the performance levels specified in
   AAMA/WDMA/CSA 101/I.S.2/A440 for air leakage resistance.

   Note 2: Without insect screen.

   Note 3: The client opted to start at a pressure higher than the minimum required. Test
   results are reported under Optional Performance.

   Note 4: The deflections reported are not limited by AAMA/WDMA/CSA 101/I.S.2/A440
   for this product designation. The deflection data is recorded in this report for special
   code compliance and information only.

   Note 5: Loads were held for 10 seconds.

   Note 6: Tape and film were not used to seal against air leakage during structural testing.




                                  www.archtest.com
                                                                         Test Report No.: B2427.02-301-47
                                                                                    Report Date: 10/25/11
                                                                 Test Record Retention End Date: 09/20/15
                                                                                                Page 8 of 8



This report is reissued in the name of MI Windows and Doors, Inc. through written
authorization by Mikron Industries, Inc. to whom the original report was rendered. The
original Mikron Industries, Inc. Report No. is B2427.01-301-47.

The service life of this report will expire on the stated Test Record Retention End Date, at
which time such materials as drawings, data sheets, samples of test specimens, copies of
this report, and any other pertinent project documentation, shall be discarded without
notice.

If test specimen contains glazing, no conclusions of any kind regarding the adequacy or
inadequacy of the glass in any glazed test specimen(s) can be made. This report does not
constitute certification of this product nor an opinion or endorsement by this laboratory. It
is the exclusive property of the client so named herein and relates only to the specimen(s)
tested. This report may not be reproduced, except in full, without the written approval of
Architectural Testing, Inc.

For ARCHITECTURAL TESTING, Inc.




___________________________________________               ________________________________________________
Jeffrey T. Osugi                                          Leaton Kirk
Technician                                                Director – Regional Operations

JO: ms

Attachments (pages): This report is complete only when all attachments listed are included.
     Appendix-A: Alteration Addendum (1)
     Appendix-B: Drawings (6) Complete drawings packet on file with Architectural Testing, Inc.




This report produced from controlled document template ATI 00438, issued 04/26/11.



                                     www.archtest.com
                                                              Test Report No.: B2427.02-301-47
                                                                         Report Date: 10/25/11
                                                      Test Record Retention End Date: 09/20/15




                                      Appendix A

                                 Alteration Addendum

Alteration #1:   Date – 08/09/11
                 Cause for alteration – Test Specimen #1 failed water penetration test.
                 Remedial action taken – Re sealed corners of glazing.

Alteration #2:   Date – 08/09/11
                 Cause for alteration – Test Specimen #1 failed structural load test.
                 Remedial action taken – Reglazed.

Alteration #3:   Date – 08/23/11
                 Cause for alteration – Test Specimen #3 failed structural load test.
                 Remedial action taken – Glazing sealant changed from Insta glaze to 3/8”
                   wide x 1/16" high glazing tape.




                               www.archtest.com
                                                                Test Report No.: B2427.02-301-47
                                                                           Report Date: 10/25/11
                                                        Test Record Retention End Date: 09/20/15




                                        Appendix B

                                         Drawings

Note: Complete drawings packet on file with Architectural Testing, Inc.




                                www.archtest.com

---

*This document was automatically generated from PDF content. For questions about this content, contact the Glaze Glassworks LLC team.*
